////// BREAKPOINTS //////
$responsiveExtraSmall: 350px;
$responsiveSmall: 576px;
$responsiveMedium: 768px;
$responsiveLarge: 992px;
$responsiveExtraLarge: 1200px;

////// SPACES //////
$spaceExtraSmall: 4px;
$spaceSmall: 8px;
$spaceMedium: 16px;
$spaceLarge: 32px;
$spaceExtraLarge: 64px;

$color0-solid: #fff;
$color1-solid: #05090e;
$color1-trans: #05090e55;
$color2-solid: #8f8c89;
$color3-solid: #FFFF00;
$color4-solid: #FF0040;
$color5-solid: #4b99da;

$animationSpeedExtraSlow: 700ms;
$animationSpeedSlow: 300ms;
$animationSpeedNormal: 150ms;
$animationSpeedFast: 80ms;
$animationSpeedExtraFast: 35ms;

$borderSize: 3px;