@use '../styles/variables' as *;
@use '../styles/mixins.scss' as *;

.sign {
    width: 30%;
    height: 80%;
    left: 33.5%;
    position: absolute;
    // rotate: 180deg;
    margin: 22% 2%;
    background-image: url("/not-a-website/sign.webp");
    background-position: top;
    background-size: cover;
    transition: scale $animationSpeedSlow;
    top: 0;

    &:hover {
        scale: 1.1;
    }
}